# yaml-language-server: $schema=https://raw.githubusercontent.com/vidispine/hull/refs/heads/main/hull/values.schema.json

hull:
  config:
    specific:
      httpPort: 8000
      ingressHost: yamtrack.joeldollarhide.com

  objects:
    configmap:
      app:
        data:
          REDIS_URL:
            inline: redis://redis-headless.default.svc.cluster.local:6379
          TZ:
            inline: "Etc/UTC"
          URLS:
            inline: _HT!{{ printf "https://%s" _HT*hull.config.specific.ingressHost }}
          SOCIAL_PROVIDERS:
            inline: allauth.socialaccount.providers.openid_connect
          SOCIALACCOUNT_ONLY:
            inline: 'True'
          REDIRECT_LOGIN_TO_SSO:
            inline: 'True'

    deployment:
      app:
        replicas: 1
        strategy:
          type: Recreate
        templateLabels:
          app.kubernetes.io/type: app
        pod:
          volumes:
            yamtrack-pvc-db:
              active: persistentVolumeClaim
              persistentVolumeClaim:
                staticName: true
                claimName: yamtrack-pvc-db
          containers:
            app:
              image:
                repository: ghcr.io/fuzzygrim/yamtrack
                pullPolicy: IfNotPresent
                tag: _HT**Chart.appVersion
              ports:
                http:
                  containerPort: _HT*hull.config.specific.httpPort
                  protocol: TCP
              volumeMounts:
                yamtrack-pvc-db:
                  name: yamtrack-pvc-db
                  mountPath: /yamtrack/db
              envFrom:
                app:
                  configMapRef:
                    name: app
                    optional: false
              env:
                DB_NAME:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: yamtrack-yamtrack-app-app
                      key: dbname
                      optional: false
                DB_HOST:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: yamtrack-yamtrack-app-app
                      key: host
                      optional: false
                DB_PORT:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: yamtrack-yamtrack-app-app
                      key: port
                      optional: false
                DB_USER:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: yamtrack-yamtrack-app-app
                      key: username
                      optional: false
                DB_PASSWORD:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: yamtrack-yamtrack-app-app
                      key: password
                      optional: false
                SECRET:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: yamtrack-secret
                      key: SECRET
                      optional: false
                SOCIALACCOUNT_PROVIDERS:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: yamtrack-secret
                      key: SOCIALACCOUNT_PROVIDERS
                      optional: false
                TRAKT_API:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: yamtrack-secret
                      key: TRAKT_API
                      optional: false
                TRAKT_API_SECRET:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: yamtrack-secret
                      key: TRAKT_API_SECRET
                      optional: false
              resources: {}

    service:
      app:
        type: ClusterIP
        ports:
          http:
            port: _HT*hull.config.specific.httpPort
            targetPort: http
            protocol: TCP

    ingress:
      app:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: "traefik"
          cert-manager.io/cluster-issuer: letsencrypt-prod
          traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "YamTrack"
          gethomepage.dev/type: "yamtrack"
          gethomepage.dev/description: "Tracking streams"
          gethomepage.dev/group: "Streaming"
          gethomepage.dev/icon: "yamtrack.png"
          gethomepage.dev/weight: "0"
        rules:
          app:
            host: _HT*hull.config.specific.ingressHost
            http:
              paths:
                root:
                  path: /
                  pathType: ImplementationSpecific
                  backend:
                    service:
                      name: app
                      port:
                        name: http
        tls:
          app:
            enabled: true
            secretName: tls
            hosts:
              - _HT!
                [
                {{ (index . "$").Values.hull.config.specific.ingressHost }}
                ]

    customresource:
      app:
        apiVersion: postgresql.cnpg.io/v1
        kind: Cluster
        spec:
          instances: 1

          monitoring:
            enablePodMonitor: true

          managed:
            services:
              disabledDefaultServices: ["ro", "r"]

          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 100m
              memory: 1Gi

          storage:
            storageClass: nfs
            size: 5Gi

    persistentvolumeclaim:
      yamtrack-pvc-db:
        staticName: true
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn
        resources:
          requests:
            storage: 5Gi
