# yaml-language-server: $schema=https://raw.githubusercontent.com/vidispine/hull/refs/heads/main/hull/values.schema.json

hull:
  config:
    specific:
      httpPort: 3909
      adminHttpPort: 3903
      ingressHost: garage-ui.joeldollarhide.com
      adminIngressHost: s3-admin.joeldollarhide.com

  objects:
    configmap:
      app:
        data:
          API_BASE_URL:
            inline: http://garage-garage-admin.garage.svc.cluster.local:3903
          S3_ENDPOINT_URL:
            inline: https://s3-api.joeldollarhide.com

    deployment:
      app:
        replicas: 1
        strategy:
          type: Recreate
        templateLabels:
          app.kubernetes.io/type: app
        pod:
          volumes:
            config:
              active: configMap
              configMap:
                staticName: true
                name: garage-garagehq-config
          containers:
            app:
              image:
                repository: khairul169/garage-webui
                pullPolicy: IfNotPresent
                tag: _HT**Chart.appVersion
              ports:
                http:
                  containerPort: _HT*hull.config.specific.httpPort
                  protocol: TCP
              volumeMounts:
                config-local:
                  name: config
                  mountPath: /etc/garage.toml
                  subPath: garage.toml
                  readOnly: true
              envFrom:
                app:
                  configMapRef:
                    name: app
                    optional: false

    service:
      app:
        type: ClusterIP
        selector:
          app.kubernetes.io/type: app
        ports:
          http:
            port: _HT*hull.config.specific.httpPort
            targetPort: http
            protocol: TCP
      admin:
        type: ClusterIP
        selector:
          app.kubernetes.io/name: garagehq
        ports:
          http:
            port: _HT*hull.config.specific.adminHttpPort
            targetPort: _HT*hull.config.specific.adminHttpPort
            protocol: TCP
