# yaml-language-server: $schema=https://raw.githubusercontent.com/vidispine/hull/refs/heads/main/hull/values.schema.json

hull:
  config:
    specific:
      httpPort: 3000
      ingressHost: booklore.joeldollarhide.com

  objects:
    configmap:
      app:
        data:
          TZ:
            inline: "America/New_York"
          USER_ID:
            inline: "0"
          GROUP_ID:
            inline: "0"
          DATABASE_URL:
            inline: "jdbc:mariadb://booklore-booklore-app-internal.booklore.svc.cluster.local:3306/booklore"
          DATABASE_USERNAME:
            inline: booklore
          BOOKLORE_PORT:
            inline: _HT*hull.config.specific.httpPort

    deployment:
      app:
        replicas: 1
        strategy:
          type: Recreate
        templateLabels:
          app.kubernetes.io/type: app
        pod:
          volumes:
            booklore-pvc-data:
              active: persistentVolumeClaim
              persistentVolumeClaim:
                staticName: true
                claimName: booklore-pvc-data
            booklore-pvc-bookdrop:
              active: persistentVolumeClaim
              persistentVolumeClaim:
                staticName: true
                claimName: booklore-pvc-bookdrop
            booklore-pvc-books:
              active: persistentVolumeClaim
              persistentVolumeClaim:
                staticName: true
                claimName: booklore-pvc-books
          containers:
            app:
              image:
                repository: booklore/booklore
                pullPolicy: IfNotPresent
                tag: _HT**Chart.appVersion
              ports:
                http:
                  containerPort: _HT*hull.config.specific.httpPort
                  protocol: TCP
              volumeMounts:
                booklore-pvc-data:
                  name: booklore-pvc-data
                  mountPath: /app/data
                booklore-pvc-bookdrop:
                  name: booklore-pvc-bookdrop
                  mountPath: /bookdrop
                booklore-pvc-books:
                  name: booklore-pvc-books
                  mountPath: /books
              envFrom:
                app:
                  configMapRef:
                    name: app
                    optional: false
              env:
                DATABASE_PASSWORD:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: mariadb-password
                      key: password
                      optional: false

    service:
      app:
        type: ClusterIP
        selector:
          app.kubernetes.io/type: app
        ports:
          http:
            port: _HT*hull.config.specific.httpPort
            targetPort: http
            protocol: TCP

    ingress:
      app:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: "traefik"
          cert-manager.io/cluster-issuer: letsencrypt-prod
          traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Booklore"
          gethomepage.dev/type: "booklore"
          gethomepage.dev/description: "Selfhosted Book Hosting service"
          gethomepage.dev/group: "Books"
          gethomepage.dev/icon: "booklore.png"
          gethomepage.dev/weight: "0"
        rules:
          app:
            host: _HT*hull.config.specific.ingressHost
            http:
              paths:
                root:
                  path: /
                  pathType: ImplementationSpecific
                  backend:
                    service:
                      name: app
                      port:
                        name: http
        tls:
          app:
            enabled: true
            secretName: tls
            hosts:
              - _HT!
                [
                {{ (index . "$").Values.hull.config.specific.ingressHost }}
                ]

    customresource:
      app:
        apiVersion: k8s.mariadb.com/v1alpha1
        kind: MariaDB
        spec:
          username: booklore
          passwordSecretKeyRef:
            name: mariadb-password
            key: password
            generate: true
          database: booklore

          port: 3306

          storage:
            size: 1Gi
            storageClassName: nfs

          myCnf: |
            [mariadb]
            bind-address=*
            default_storage_engine=InnoDB
            binlog_format=row
            innodb_autoinc_lock_mode=2
            innodb_buffer_pool_size=1600M
            max_allowed_packet=256M

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              memory: 1Gi

          metrics:
            enabled: true

          tls:
            enabled: false

    persistentvolumeclaim:
      booklore-pvc-data:
        staticName: true
        accessModes:
          - ReadWriteOnce
        storageClassName: nfs
        resources:
          requests:
            storage: 5Gi
      booklore-pvc-books:
        staticName: true
        accessModes:
          - ReadWriteOnce
        storageClassName: nfs
        resources:
          requests:
            storage: 5Gi
      booklore-pvc-bookdrop:
        staticName: true
        accessModes:
          - ReadWriteOnce
        storageClassName: local-path
        resources:
          requests:
            storage: 5Gi
