# yaml-language-server: $schema=https://raw.githubusercontent.com/vidispine/hull/refs/heads/main/hull/values.schema.json

hull:
  config:
    specific:
      httpPort: 5232
      ingressHost: radicale.joeldollarhide.com

  objects:
    configmap:
      app:
        data: {}

    deployment:
      app:
        replicas: 1
        strategy:
          type: Recreate
        templateLabels:
          app.kubernetes.io/type: app
        pod:
          volumes:
            radicale-pvc-config-longhorn:
              active: persistentVolumeClaim
              persistentVolumeClaim:
                staticName: true
                claimName: radicale-pvc-config-longhorn
            radicale-pvc-data:
              active: persistentVolumeClaim
              persistentVolumeClaim:
                staticName: true
                claimName: radicale-pvc-data
            radicale-lldap-secret:
              active: secret
              secret:
                staticName: true
                secretName: lldap-secret
          containers:
            app:
              image:
                repository: ghcr.io/kozea/radicale
                pullPolicy: IfNotPresent
                tag: _HT**Chart.appVersion
              ports:
                http:
                  containerPort: _HT*hull.config.specific.httpPort
                  protocol: TCP
              volumeMounts:
                radicale-pvc-config-longhorn:
                  name: radicale-pvc-config-longhorn
                  mountPath: /etc/radicale
                radicale-pvc-data:
                  name: radicale-pvc-data
                  mountPath: /var/lib/radicale
                radicale-lldap-secret:
                  name: radicale-lldap-secret
                  mountPath: /etc/secrets
                  readOnly: true
              envFrom:
                app:
                  configMapRef:
                    name: app
                    optional: false
              resources: {}

    service:
      app:
        type: ClusterIP
        ports:
          http:
            port: _HT*hull.config.specific.httpPort
            targetPort: http
            protocol: TCP

    ingress:
      app:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: "traefik"
          cert-manager.io/cluster-issuer: letsencrypt-prod
          traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Radicale"
          gethomepage.dev/type: "radicale"
          gethomepage.dev/description: "CalDAV server"
          gethomepage.dev/group: "Applications"
          gethomepage.dev/icon: "radicale.png"
          gethomepage.dev/weight: "0"
        rules:
          app:
            host: _HT*hull.config.specific.ingressHost
            http:
              paths:
                root:
                  path: /
                  pathType: ImplementationSpecific
                  backend:
                    service:
                      name: app
                      port:
                        name: http
        tls:
          app:
            enabled: true
            secretName: tls
            hosts:
              - _HT!
                [
                {{ (index . "$").Values.hull.config.specific.ingressHost }}
                ]

    persistentvolumeclaim:
      radicale-pvc-config-longhorn:
        staticName: true
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn
        resources:
          requests:
            storage: 5Gi
      radicale-pvc-data:
        staticName: true
        accessModes:
          - ReadWriteMany
        storageClassName: nfs
        resources:
          requests:
            storage: 2Ti
