# yaml-language-server: $schema=https://raw.githubusercontent.com/vidispine/hull/refs/heads/main/hull/values.schema.json

hull:
  config:
    specific:
      httpPort: 17170
      udpPort: 3890
      tcpPort: 3890
      ingressHost: lldap.joeldollarhide.com

  objects:
    configmap:
      app:
        data:
          TZ: 
            inline: "America/New_York"
          LLDAP_LDAP_BASE_DN: 
            inline: "dc=joeldollarhide,dc=com"

    deployment:
      app:
        replicas: 1
        strategy:
          type: Recreate
        templateLabels:
          app.kubernetes.io/type: app
        pod:
          volumes:
            lldap-pvc-data:
              active: persistentVolumeClaim
              persistentVolumeClaim:
                staticName: true
                claimName: lldap-pvc-data
          containers:
            app:
              image:
                repository: lldap/lldap
                pullPolicy: Always
                tag: _HT**Chart.appVersion
              ports:
                http:
                  containerPort: _HT*hull.config.specific.httpPort
                  protocol: TCP
                udp:
                  containerPort: _HT*hull.config.specific.udpPort
                  protocol: UDP
                tcp:
                  containerPort: _HT*hull.config.specific.tcpPort
                  protocol: TCP
              volumeMounts:
                lldap-pvc-data:
                  name: lldap-pvc-data
                  mountPath: /data
              envFrom:
                app:
                  configMapRef:
                    name: app
                    optional: false
              env:
                LLDAP_JWT_SECRET:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: lldap-secret
                      key: jwtsecret
                      optional: false
                LLDAP_DATABASE_URL:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: lldap-secret
                      key: dburl
                      optional: false
                LLDAP_LDAP_USER_PASS:
                  valueFrom:
                    secretKeyRef:
                      staticName: true
                      name: lldap-secret
                      key: userpass
                      optional: false

    service:
      app:
        type: ClusterIP
        ports:
          http:
            port: _HT*hull.config.specific.httpPort
            targetPort: http
            protocol: TCP
          udp:
            port: _HT*hull.config.specific.udpPort
            targetPort: udp
            protocol: UDP
          tcp:
            port: _HT*hull.config.specific.tcpPort
            targetPort: tcp
            protocol: TCP

    ingress:
      app:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: "traefik"
          cert-manager.io/cluster-issuer: letsencrypt-prod
          traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
        rules:
          app:
            host: _HT*hull.config.specific.ingressHost
            http:
              paths:
                root:
                  path: /
                  pathType: ImplementationSpecific
                  backend:
                    service:
                      name: app
                      port:
                        name: http
        tls:
          app:
            enabled: true
            secretName: tls
            hosts:
              - _HT!
                [
                {{ (index . "$").Values.hull.config.specific.ingressHost }}
                ]

    cronjob:
      db-backup:
        concurrencyPolicy: Forbid
        failedJobsHistoryLimit: 1
        schedule: 0 2 * * *
        successfulJobsHistoryLimit: 3
        suspend: false
        job:
          pod:
            volumes:
              config:
                active: secret
                secret:
                  staticName: true
                  secretName: restic-secret
                  defaultMode: 256
              data:
                active: persistentVolumeClaim
                persistentVolumeClaim:
                  staticName: true
                  claimName: lldap-lldap-db-backup
            restartPolicy: OnFailure
            securityContext: {}
            initContainers:
              01-prune-old:
                image:
                  repository: restic/restic
                  pullPolicy: Always
                args:
                - forget
                - --tag
                - k8s,lldap
                - --keep-hourly
                - '168'
                env: &resticEnv
                  RESTIC_PASSWORD:
                    valueFrom:                 
                      secretKeyRef:
                        staticName: true
                        key: RESTIC_PASSWORD
                        name: restic-secret
                  RESTIC_REPOSITORY:
                    valueFrom:                 
                      secretKeyRef:
                        staticName: true
                        key: RESTIC_REPOSITORY
                        name: restic-secret
            containers:
              backup:
                image:
                  repository: restic/restic
                  pullPolicy: Always
                args:
                - backup
                - --host
                - lldap-backup-pod
                - --tag=k8s
                - --tag=lldap
                - /home/data
                env: *resticEnv
                resources: {}
                volumeMounts:
                  sshConfig:
                    name: config
                    subPath: ssh-config
                    mountPath: /root/.ssh/config
                    readOnly: true
                  sshKey:
                    name: config
                    subPath: id_ed25519
                    mountPath: /root/.ssh/id_ed25519
                    readOnly: true
                  data:
                    name: data
                    mountPath: /home/data

    customresource:
      app:
        apiVersion: traefik.io/v1alpha1
        kind: IngressRouteUDP
        spec:
          entryPoints:
            - lldapudp
          routes:
            - services:
                - name: _HT^app
                  port: _HT*hull.config.specific.udpPort

      app-tcp:
        apiVersion: traefik.io/v1alpha1
        kind: IngressRouteTCP
        spec:
          entryPoints:
            - lldaptcp
          routes:
            - match: HostSNI(`*`)
              services:
                - name: _HT^app
                  port: _HT*hull.config.specific.tcpPort

      db-backup:
        apiVersion: k8s.mariadb.com/v1alpha1
        kind: PhysicalBackup
        spec:
          mariaDbRef:
            name: lldap-lldap-db
          schedule:
            cron: "0 0 * * *"
            suspend: false
            immediate: true
          maxRetention: 168h # 7 days
          timeout: 2h
          storage:
            persistentVolumeClaim:
              storageClassName: nfs
              resources:
                requests:
                  storage: 5Gi
              accessModes:
                - ReadWriteMany

      db:
        apiVersion: k8s.mariadb.com/v1alpha1
        kind: MariaDB
        spec:
          username: lldap
          passwordSecretKeyRef:
            name: lldap-secret
            key: dbpass
            generate: false
          database: lldap

          port: 3306

          storage:
            size: 1Gi
            storageClassName: nfs

          myCnf: |
            [mariadb]
            bind-address=*
            default_storage_engine=InnoDB
            binlog_format=row
            innodb_autoinc_lock_mode=2
            innodb_buffer_pool_size=1600M
            max_allowed_packet=256M

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              memory: 1Gi

          metrics:
            enabled: true

          tls:
            enabled: false

    persistentvolumeclaim:
      lldap-pvc-data:
        staticName: true
        accessModes:
          - ReadWriteOnce
        storageClassName: nfs
        resources:
          requests:
            storage: 5Gi

