hull:
  objects:
    customresource:
      tailscale:
        apiVersion: networking.k8s.io/v1
        kind: Ingress
        spec:
          ingressClassName: tailscale
          rules:
            - http:
                paths:
                  - path: /
                    pathType: Prefix
                    backend:
                      service:
                        name: _HT^app
                        port:
                          number: _HT*hull.config.specific.httpPort
