hull:
  objects:
    rolebinding:
      default:
        enabled: false
    role:
      default:
        enabled: false

    serviceaccount:
      default:
        enabled: false

    configmap:
      blueprints:
        data:
          ldap-source.yaml:
            path: files/ldap-source.yaml

    customresource:
      tailscale:
        apiVersion: networking.k8s.io/v1
        kind: Ingress
        spec:
          ingressClassName: tailscale
          rules:
            - http:
                paths:
                  - path: /
                    pathType: Prefix
                    backend:
                      service:
                        name: authentik-server
                        port:
                          number: 80

      app:
        apiVersion: postgresql.cnpg.io/v1
        kind: Cluster
        spec:
          instances: 1
          postgresql:
            parameters:
              max_connections: "100"
              max_replication_slots: "50"
          monitoring:
            enablePodMonitor: true
          managed:
            services:
              disabledDefaultServices: ["ro", "r"]
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 100m
              memory: 1Gi
          storage:
            storageClass: nfs
            size: 5Gi

authentik:
  global:
    env:
      - name: AUTHENTIK_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: authentik-secret
            key: secretkey
            optional: false
      - name: AUTHENTIK_POSTGRESQL__HOST
        valueFrom:
          secretKeyRef:
            name: authentik-authentik-app-app
            key: host
            optional: false
      - name: AUTHENTIK_POSTGRESQL__PORT
        valueFrom:
          secretKeyRef:
            name: authentik-authentik-app-app
            key: port
            optional: false
      - name: AUTHENTIK_POSTGRESQL__NAME
        valueFrom:
          secretKeyRef:
            name: authentik-authentik-app-app
            key: dbname
            optional: false
      - name: AUTHENTIK_POSTGRESQL__USER
        valueFrom:
          secretKeyRef:
            name: authentik-authentik-app-app
            key: username
            optional: false
      - name: AUTHENTIK_POSTGRESQL__PASSWORD
        valueFrom:
          secretKeyRef:
            name: authentik-authentik-app-app
            key: password
            optional: false

  authentik:
    postgresql:
      enabled: false

    redis:
      host: redis-headless.default.svc.cluster.local

  blueprints:
    configMaps:
      - authentik-authentik-blueprints

  server:
    serviceAccountName: authentik

    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: "traefik"
        cert-manager.io/cluster-issuer: letsencrypt-prod
        traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Authentik"
        gethomepage.dev/type: "authentik"
        gethomepage.dev/description: "Authentication service"
        gethomepage.dev/group: "Applications"
        gethomepage.dev/icon: "authentik.png"
        gethomepage.dev/weight: "10"
      hosts:
        - &host authentik.joeldollarhide.com
      tls:
        - secretName: authentik-tls
          hosts:
            - *host
