# yaml-language-server: $schema=https://raw.githubusercontent.com/vidispine/hull/refs/heads/main/hull/values.schema.json

immich:
  ## This chart relies on the common library chart from bjw-s
  ## You can find it at https://github.com/bjw-s-labs/helm-charts/tree/common-4.3.0/charts/library/common
  ## Refer there for more detail about the supported values

  # These entries are shared between all the Immich components

  controllers:
    main:
      containers:
        main:
          image:
            # renovate: image=ghcr.io/immich-app/immich-server
            tag: v2.2.3
          env:
            REDIS_HOSTNAME: redis-headless.default.svc.cluster.local
            IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
            IMMICH_LOG_LEVEL: debug
            DB_VECTOR_EXTENSION: vectorchord
            DB_HOSTNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-immich-app-app
                  key: host
            DB_USERNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-immich-app-app
                  key: user
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: immich-immich-app-app
                  key: password
            DB_DATABASE_NAME:
              valueFrom:
                secretKeyRef:
                  name: immich-immich-app-app
                  key: dbname

  immich:
    metrics:
      # Enabling this will create the service monitors needed to monitor immich with the prometheus operator
      enabled: true
    persistence:
      # Main data store for all photos shared between different components.
      library:
        # Automatically creating the library volume is not supported by this chart
        # You have to specify an existing PVC to use
        existingClaim: immich-pvc-data
    # configuration is immich-config.json converted to yaml
    # ref: https://immich.app/docs/install/config-file/
    #
    configuration:
      {}
      # trash:
      #   enabled: false
      #   days: 30
      # storageTemplate:
      #   enabled: true
      #   template: "{{y}}/{{y}}-{{MM}}-{{dd}}/{{filename}}"

  # Immich components

  server:
    enabled: true
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              pullPolicy: IfNotPresent
          tailscale:
            image:
              repository: ghcr.io/tailscale/tailscale
              tag: v1.90.6
            securityContext:
              privileged: true
              capabilities:
                add:
                  - NET_ADMIN
            env:
              TS_EXTRA_ARGS: --hostname=immich
              TS_KUBE_SECRET: ts-immich
              TS_USERSPACE: "false"
              TS_AUTHKEY:
                valueFrom:
                  secretKeyRef:
                    name: tailscale-auth-secret
                    key: TS_AUTHKEY
                    optional: true
    ingress:
      main:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: "traefik"
          cert-manager.io/cluster-issuer: letsencrypt-prod
          traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Penpot"
          gethomepage.dev/type: "penpot"
          gethomepage.dev/description: "Design tool"
          gethomepage.dev/group: "Application"
          gethomepage.dev/icon: "penpot.png"
          gethomepage.dev/weight: "1"
        hosts:
          - host: &ingressHost immich.joeldollarhide.com
            paths:
              - path: "/"
                service:
                  identifier: main
        tls:
          - secretName: immich-tls
            hosts:
              - *ingressHost

  machine-learning:
    enabled: true
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              pullPolicy: IfNotPresent
            env:
              TRANSFORMERS_CACHE: /cache
              HF_XET_CACHE: /cache/huggingface-xet
              MPLCONFIGDIR: /cache/matplotlib-config
    persistence:
      cache:
        enabled: true
        size: 10Gi
        # Optional: Set this to persistentVolumeClaim to avoid downloading the ML models every start.
        type: persistentVolumeClaim
        accessMode: ReadWriteMany
        storageClass: nfs

hull:
  config:
    specific:
      tsSecretName: _HT!{{ printf "ts-%s" "immich" }}

  objects:
    rolebinding:
      default:
        enabled: false
      tailscale:
        subjects:
          - kind: ServiceAccount
            name: default
        roleRef:
          kind: Role
          name: _HT!{{ printf "%s-tailscale" "immich-immich" }}
          apiGroup: rbac.authorization.k8s.io
    role:
      default:
        enabled: false

      tailscale:
        rules:
          - apiGroups: [""] # "" indicates the core API group
            resources: ["secrets"]
            # Create can not be restricted to a resource name.
            verbs: ["create"]
          - apiGroups: [""] # "" indicates the core API group
            resourceNames:
              - _HT!
                [
                {{ (index . "$").Values.hull.config.specific.tsSecretName }}
                ]
            resources: ["secrets"]
            verbs: ["get", "update", "patch"]
    serviceaccount:
      default:
        enabled: false

    customresource:
      app:
        apiVersion: postgresql.cnpg.io/v1
        kind: Cluster
        spec:
          instances: 1
          imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17.6

          postgresql:
            shared_preload_libraries:
              - "vchord.so"

          bootstrap:
            initdb:
              postInitApplicationSQL:
                - CREATE EXTENSION IF NOT EXISTS vchord CASCADE;
                - CREATE EXTENSION IF NOT EXISTS earthdistance CASCADE;

          monitoring:
            enablePodMonitor: true

          managed:
            services:
              disabledDefaultServices: ["ro", "r"]

          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 100m
              memory: 1Gi

          storage:
            storageClass: nfs
            size: 5Gi

    persistentvolumeclaim:
      immich-pvc-data:
        staticName: true
        accessModes:
          - ReadWriteOnce
        storageClassName: nfs
        resources:
          requests:
            storage: 30Gi
