# yaml-language-server: $schema=https://raw.githubusercontent.com/vidispine/hull/refs/heads/main/hull/values.schema.json

hull:
  objects:
    configmap:
      app:
        data: {}
      configuration-files:
        data:
          config.json:
            path: files/config.json

    deployment:
      app:
        replicas: 1
        strategy:
          type: Recreate
        templateLabels:
          app.kubernetes.io/type: app
        pod:
          hostNetwork: true
          volumes:
            isponsorblocktv-pvc-data:
              active: persistentVolumeClaim
              persistentVolumeClaim:
                staticName: true
                claimName: isponsorblocktv-pvc-data
            configuration-files:
              active: configMap
              configMap:
                name: configuration-files
          initContainers:
            01-config-copy:
              image:
                repository: busybox
                pullPolicy: IfNotPresent
                tag: "1.37"
              command: ["/bin/sh", "-c", "cp -n /tmp/config/* /app/data"]
              volumeMounts:
                configFiles:
                  name: configuration-files
                  mountPath: /tmp/config
                isponsorblocktv-pvc-data:
                  name: isponsorblocktv-pvc-data
                  mountPath: /app/data
          containers:
            app:
              image:
                repository: ghcr.io/dmunozv04/isponsorblocktv
                pullPolicy: IfNotPresent
                tag: _HT**Chart.appVersion
              volumeMounts:
                isponsorblocktv-pvc-data:
                  name: isponsorblocktv-pvc-data
                  mountPath: /app/data
              envFrom:
                app:
                  configMapRef:
                    name: app
                    optional: false
              resources:
                requests:
                  cpu: 200m
                  memory: 512Mi
                limits:
                  memory: 512Mi

    persistentvolumeclaim:
      isponsorblocktv-pvc-data:
        staticName: true
        accessModes:
          - ReadWriteOnce
        storageClassName: nfs
        resources:
          requests:
            storage: 3Gi
